extends layout

block content

	.row
			.small-12.columns.center
				#header Crappy Twitter

	.row
		.small-4.columns.left
			#container
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras scelerisque euismod odio vel lacinia. Cras et tellus mi. Etiam lacinia ligula at neque fringilla lobortis. Quisque posuere dui et dolor mollis semper. Pellentesque condimentum fringilla libero, eu laoreet odio bibendum id. Cras posuere, ante vitae scelerisque iaculis, est nulla volutpat est, convallis accumsan enim sapien vel ante. Phasellus in fermentum magna. Vestibulum vel nulla risus. Praesent egestas non justo et vulputate. Integer turpis odio, mollis sit amet felis iaculis, luctus sollicitudin mauris. Aenean lacinia, urna non laoreet tristique, nisl nulla ultrices purus, id vestibulum lorem turpis eget risus. Suspendisse faucibus purus libero. Donec enim erat, gravida quis aliquet ac, imperdiet ut nisi. Ut consequat laoreet tempus. Integer vel nisl tellus. Suspendisse semper lacus vel massa consequat scelerisque.

				p Maecenas at massa nec elit pulvinar adipiscing quis ac elit. Vivamus iaculis feugiat tortor sed elementum. Vivamus vitae dictum massa. Cras egestas faucibus enim. Nunc pellentesque est at diam laoreet, vel porta ligula semper. Proin egestas, nisl in tempus dignissim, felis odio suscipit magna, eu imperdiet nisl ligula vitae lacus. Pellentesque a scelerisque arcu. Phasellus eu porttitor ligula, a posuere velit.

				p Fusce commodo purus sed sapien porta, in vestibulum diam lobortis. Aenean ultrices faucibus semper. Morbi in varius purus. Donec condimentum metus vel dui varius sagittis. Suspendisse cursus ultrices libero, vel rhoncus eros euismod at. Nam justo purus, porttitor molestie erat ac, cursus elementum ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque neque dui, vestibulum vehicula neque ut, pellentesque sollicitudin eros. Nullam quis eros eget nibh rutrum scelerisque vel id purus. Duis accumsan vulputate purus in consectetur. Duis volutpat imperdiet augue, nec placerat felis aliquet quis. Praesent ornare mauris ac sem bibendum, sit amet tempus metus vulputate. Aenean eu massa mollis, dignissim neque quis, faucibus dolor. Quisque sed tempor massa. Quisque in sem vel felis varius tempus at ac lectus. Maecenas aliquam sollicitudin erat, ac blandit sem elementum sit amet.

				p Donec sollicitudin adipiscing nunc, id pulvinar lacus volutpat sit amet. Pellentesque commodo justo sed nulla tristique, ac imperdiet sapien pretium. Duis rhoncus lacus at risus aliquam, at fermentum mauris dictum. Aliquam ultrices vel justo in aliquet. Suspendisse at felis lectus. Nunc semper lacus id orci pharetra consectetur. Sed ullamcorper sit amet metus et bibendum.

				p Curabitur imperdiet felis ante, ut gravida mauris accumsan elementum. Maecenas at purus iaculis, viverra nisi vel, consectetur enim. Phasellus sed velit ut lectus ornare dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean non fringilla libero. Vivamus porttitor justo urna, ac tempor tellus dignissim vitae. In dignissim gravida nibh vel viverra. Aenean lectus dui, fermentum non rhoncus nec, pretium a sem. Pellentesque non faucibus neque. In sollicitudin justo dolor, a hendrerit eros vestibulum a. Praesent varius at est id aliquam. Mauris enim massa, vulputate nec rutrum eu, sollicitudin et metus. Aliquam vitae mi in velit viverra facilisis sed non nisl. Aenean luctus pellentesque nisl, non auctor sapien consequat quis. Pellentesque pretium lacus ut eros rhoncus adipiscing.

		.small-8.columns.right
			#container
					#title Look at all these twits!
					p fajhklfkhad asdfkjhaldh aksdjfhlasdkfhak afksdljfhaleiuhfa djfkalksfh asldkfjha
					p moe trh
					p sdjfskjahf
//- includelope _twits
