extends layout

block content

	.row
			.large-12.columns.center
				#header Crappy Twitter

	.row
		.large-4.columns.left
			#container
				include _newtwit

		.large-8.columns.right
			#container
				#title Look at all these twits!

				div.hr

				#pad
					include _twits
					include _twits
					include _twits
