doctype
html
	head
		title= title
		link(href="/stylesheets/foundation.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src="/javascripts/jquery.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/foundation/4.3.1/js/foundation/foundation.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/foundation/4.3.1/js/foundation/foundation.forms.js")
		script.
			$(document).foundation();
	body
		block content